body{
    background-image: url(green.jpg);
    background-size: cover;
    font-family: 'Courier New', Courier, monospace;
    color: bisque;
}
#main{
    width: 100%;
    height: 800px;
}
#form{
    
    position: fixed;
    left: 25%;
    width: 50%;
    height: 100%;
    background-color: rgb(7, 68, 138);
    text-align:left;
    border: 2px solid #fff;
    border-radius: 25px;
    padding-left: 10px;
}